// colors

$red:#AD325E;
$darkBlue: hsl(233, 26%, 24%);
$grayLight:#F4F4F4;
$limeGreen: hsl(136, 65%, 51%);
$grayBlue: hsl(233, 8%, 62%);
$white:hsl(0, 0%, 100%);
$blue: #1ebbf0;
$green:#39dfaa;

// gradients colors

$stripe: linear-gradient(to right, #1fa2ff, #12d8fa, #a6ffcb);

$sublimeLight: linear-gradient(to right, #fc5c7d, #6a82fb);

$velvetSun: linear-gradient(to right, #e1eec3, #f05053);

$bigHead: linear-gradient(to right, #c94b4b, #4b134f);

$cristalClear: linear-gradient(to right, #159957, #155799);

$titanium: linear-gradient(to right, #283048, #859398);
